---
- name: Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Install required packages
  apt:
    name:
      - git
      - wget
      - mysql-client
      - supervisor
    state: present

- name: Create Gitea system user
  user:
    name: "{{ gitea_user }}"
    system: yes
    shell: /bin/bash
    home: "{{ gitea_home }}"
    create_home: yes

- name: Create Gitea directories
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ gitea_user }}"
    group: "{{ gitea_user }}"
    mode: '0750'
  loop:
    - "{{ gitea_work_dir }}"
    - "{{ gitea_custom_dir }}"
    - "{{ gitea_data_dir }}"
    - "{{ gitea_log_dir }}"
    - "{{ gitea_config_dir }}"

- name: Download Gitea binary
  get_url:
    url: "{{ gitea_binary_url }}"
    dest: /usr/local/bin/gitea
    mode: '0755'
    owner: root
    group: root

- name: Verify Gitea binary
  command: /usr/local/bin/gitea --version
  register: gitea_version_output
  changed_when: false

- name: Display Gitea version
  debug:
    msg: "{{ gitea_version_output.stdout }}"

- name: Create Gitea configuration file
  template:
    src: app.ini.j2
    dest: "{{ gitea_config_dir }}/app.ini"
    owner: root
    group: "{{ gitea_user }}"
    mode: '0640'
  notify: restart gitea

- name: Create Gitea systemd service
  template:
    src: gitea.service.j2
    dest: /etc/systemd/system/gitea.service
    owner: root
    group: root
    mode: '0644'
  notify:
    - reload systemd
    - restart gitea

- name: Enable and start Gitea service
  systemd:
    name: gitea
    enabled: yes
    state: started
    daemon_reload: yes

- name: Wait for Gitea to start
  wait_for:
    port: "{{ gitea_http_port }}"
    delay: 5
    timeout: 60

- name: Check Gitea health
  uri:
    url: "http://localhost:{{ gitea_http_port }}/"
    status_code: 200
  register: gitea_health
  retries: 3
  delay: 10
  until: gitea_health.status == 200
